@charset "utf-8";
/* Author: Aziz Köksal */
a { color: DarkBlue; }
a:visited { color: DarkSlateBlue; }
body { margin: 0; }
body.progress { cursor: progress; }


#navbar {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  overflow: hidden;
  background-color:#CCDDCC;
  box-shadow: 7px 0px 10px rgba(0,0,0,0.4);
}

#kandil-content {
  padding: 0em 1.2em;
}

#kandil-footer {
  margin: 0.5em 0;
  font-size: 0.9em;
}

.splitbar {
  width: 4px;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #308430;
}

.splitbar, body.moving_splitbar {
  cursor: e-resize; /* '<->' cursor for Opera, Konqui ... */
  cursor: ew-resize; /* Make FF display '<->' instead of '->|' */
}

.splitbar > .handle {
  border: 1px dotted #00DD00;
  height: 15%;
  position: absolute;
  top: 42.5%;
  bottom: 42.5%;
  margin-left: 1px;
}

.splitbar:hover, .splitbar.moving {
  background-color: #60A460;
}

#panels {
  font-size: 0.95em;
  padding: 2px;
}

#panels > div {
  overflow: hidden;
}

div.scroll { /* The panel that should display scroll bars. */
  margin-top: 1px;
  overflow: auto;
  border: 1px inset DarkGreen;
  border-radius: 2px;
  background-color: white;
}

div.offsetTop {
  position: relative;
}

#navtabs {
  padding: 0.5em 0em 0em 0em;
  text-align: center;
  border-bottom: 2px inset DarkGreen;
}

#navtabs span {
  margin: 0.1em;
  padding: 0.2em;
  padding-bottom: 0;
  border: 1px outset #586;
  border-bottom: none;
  color: #586;
  background-color: #C0D9AF;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  text-shadow: 0 -1px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 0px 2px rgba(0,0,0,0.4);
}
#navtabs span > img {
  vertical-align: top;
}

#navtabs span.current, #navtabs span:hover {
  padding-bottom: 2px;
  color: White;
  background-color: #526F35;
  text-shadow: 0 -1px 2px rgba(0,0,0,0.8);
}

/* The filter box. */
.filter_elem {
  border: 1px inset DarkGreen;
  border-radius: 6px 2px 2px 6px;
  background-color:white;
}

.filter_elem > table {
  border-collapse: collapse;
  width: 100%;
}

.filter_elem img {
  vertical-align: middle;
}

.filter_elem img:hover {
  background-image: url("../img/icon_magnifier.png");
}

.filter_elem input.filterbox {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  color: black;
}

/* Treeview */
ul.tview {
  margin: 1px;
}

.tview li sub {
  font-size: small;
  margin: 0.2em;
  vertical-align: bottom;
  color: #555;
}

.tview li {
  white-space: nowrap;
}
.tview label { /* The treeview label. */
  padding: 0em 0.1em;
}
.tview img { /* The label's icon. */
  vertical-align: top;
}
.tview i { /* The treeview icon. */
  float: left;
  width: 16px;
  height: 16px;
}
.tview ul {
  clear: both;
}
.tview i { /* Use minus for expanded state (default.) */
  background-image: url(../img/icon_tv_minus.png);
}
.tview .closed i { /* Use plus for the collapsed state. */
  background-image: url(../img/icon_tv_plus.png);
}

.filtered.tview .has_hidden > i {
  background-image: url(../img/icon_tv_dot.png);
}
.filtered.tview .has_hidden.closed > i {
  background-image: url(../img/icon_tv_plus.png);
}

.tview .leaf > i { /* No icon for leafs. */
  display: none;
}
.tview .closed > ul {
  display: none;
}
.tview .selected > label {
  background-color: YellowGreen;
}
.tview, .tview ul {
  margin-left: 16px;
  padding-left: 0;
  list-style: none;
}
.tview a {
  text-decoration: none;
  color: Black;
}
.tview .root > ul { /* Less indentation for the first list. */
  margin-left: 8px;
}

/* Quick search */
.filtered li {
  display: none;  /* Hide all by default */
}
.filtered li.parent_of_match {
  display: block; /* Parent nodes of matches must be visible */
}
.filtered label, .filtered a {
  color: Gray; /* Make the text gray to indicate no match */
}
.filtered li.match {
  display: block; /* Make matches visible */
}
.filtered li.match > label, .filtered li.match > label a {
  color: Black;
}
.filtered li.no_match_msg {
  display: block;
}
.filtered li.show_hidden > ul > li {
  display: block;
}

.tooltip {
  padding: 0.3em;
  background-color: LightGoldenRodYellow;
  border: 1px solid PaleGoldenRod;
  border-radius: 2px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}

/* Content */
.sec_header {
  font-weight: bold;
  margin: 0.5em 0;
}

.decl {
  font-family: monospace;
  font-size: 1em;
  font-weight: normal;
  margin: 0.5em 0;
}

.decl:target { /* Highlight targetted decls */
  background-color: yellowgreen;
  border-bottom: 1px solid darkgreen;
}

.ddef {
  margin: 0.5em 2.5em;
  margin-right: 0;
}

.nocmnt { /* Empty comment for undocumented symbols */
  width: 2em;
  margin-bottom: 0.5em;
  border-top: 1px dashed Gray;
}

.plink, .plink:visited, .srclink, .srclink:visited {
  padding: 0em 0.2em;
  text-decoration: none;
  color: DarkRed;
}

.plink, .srclink {
  display: none;
}

.decl:hover .plink, .plink:focus,
.decl:hover .srclink, .srclink:focus,
h1.module:hover .srclink {
  display: inline;
}

.plink:hover, .srclink:hover {
  border: 1px outset #300;
  color: white;
  background-color: DarkRed;
}

.symbol, .symbol:visited {
  color: ForestGreen;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.decl:hover > .symbol,
.symbol:target {
  border-bottom: 1px solid ForestGreen;
}

.summary {
  margin: 0.5em 0;
}

.params em, .tparams em {
  font-family: monospace;
  font-weight: normal;
  color: OliveDrab;
}

.attrs {
  font-size: 0.8em;
  color: #555;
}

table.params td {
  vertical-align: top;
}

table.params td:first-child {
  padding-right: 0.5em;
  text-align: right;
}

#kandil-loading, .ajaxerror {
  background-color: White;
  position: fixed;
  margin: 0.5em;
  padding: 0.2em;
  top: 0;
  right: 0;
  border: 1px solid DarkRed;
}

#kandil-loading {
  border: 1px solid Black;
}

/* Code formatting */
.d_code {
  margin: 0.5em 0em;
  border: 1px dotted Gray;
  border-collapse: collapse;
}
.d_code pre {
  margin: 0.1em 0.2em;
}
.d_code td {
  vertical-align: top;
}

.d_codetext {
  width: 100%;
}

.d_codelines {
  border-right: 1px dotted Gray;
  background-color: #F5F5F5;
  text-align: right;
  color: Gray;
}

.loaded_code .d_code {
  margin: 0;
  border: none;
}

.loaded_code {
  margin: 0.5em 2.5em;
  border: 1px dotted Gray;
  max-height: 300px;
  overflow: auto;
}

.d_codelines a {
  color: DimGray;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.d_codelines a:hover {
  text-decoration: underline;
}

.d_codelines a:target {
  background-color: yellow;
}

/* Number */
/*.d_code*/ .n { color: teal; }
/* Keyword */
/*.d_code*/ .k, .kw { color: darkblue; font-weight: bold; }
/* Line, block and nested comments */
.d_code .lc, .d_code .bc, .d_code .nc { color: gray; }
/* Identifier */
/*.d_code*/ .i { color: black; }
/* String literal */
/*.d_code*/ .sl { color: firebrick; }
/* Character literal */
/*.d_code*/ .cl { color: purple; }
/* Special tokens */
/*.d_code*/ .st { color: green; font-weight: bold; }
/* #line, hash line */
.d_code .hl { color: green; }
/* filespec (e.g. #line number [filespec]) */
.d_code .fs { color: purple;}
/* The first line that starts with "#!" is called a "shebang" */
.d_code .shebang { color: gray; }
/* Escape sequences. */
.d_code .es { color: teal; }

.d_code .d.Module .i, .d_code .d.Import .i { color: blue; }
.d_code .t.Identifier .i, .d_code .TemplateTypeParameter .i { color: DarkRed; }
.d_code .t .k { color: DarkRed; font-weight: normal; }

.d_code .d > .i { color: ForestGreen; }
.d_code .o.Parameter > .i { color: OliveDrab; font-style: italic; }
