#dcode, #dcode pre {
    font-family: "lucida console", monospace, courier;
    font-size: 11px;
    background-color: #fafbfa;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    color: #222;
	border-collapse: collapse;
}

#dcode #lnum {
	padding-left: 5px;
	padding-right: 5px;
	border-right: dotted grey 1px;
	text-align: right;
	vertical-align: top;
	width: 1px;   /* uhm... it will make the row thin, but not really 1px */
}


#dcode #code pre {
	padding-left: 10px;
}

#dcode span.nbr {
    color: #000080;
}

#dcode span.str {
    color: #8080a0;
}

#dcode span.com {
    color: #000080;
}

#dcode span.kw1 {
    color: #0000ff;
}

#dcode span.kw2 {
    color: #800000;
}

#dcode span.kw3 {
    color: #800000;
}

#dcode span.kw4 {
    color: #0000ff;
}

#dcode span.opr {
    color: #a0a0a0;
}